html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
}
body {
  background: rgb(61, 60, 61);
}
.panel {
  position: absolute;
}
#text {
  top: 25%;
  right: 15%;
}
